<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Class reunion</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../../static/img/Capture.PNG" rel="icon">
  <link href="../../static/img/Capture.PNG" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Libraries CSS Files -->
  <link href="../../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../../static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="../../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../../static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../../static/css/style.css" rel="stylesheet">

</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
        <a href="#intro" class="scrollto"><img src="../../static/img/Capture.PNG" alt="" class="img-fluid"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="/studenthome">Home</a></li>
          <li><a href="/studentprofile">Profile</a></li> 
          <li><a href="/studentsearch">Search</a></li>
          <li><a href="/studentjob">Job</a></li>
          <li><a href="/studentchat">Chat</a></li>
          <li><a href="#" data-toggle="modal" data-target="#notification">Noticeboard</a></li>
          <li><a href="/logout">Logout</a></li>

        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->

<br><br><br><br><br><br>

<!-- Post of the User is Here -->
<!-- <div class="container" >
  <div class="postdiv" style="box-shadow:0px 1px 1px 1px grey;border-radius: 20px;;width: 70%;margin-left: 15%;">
      <div class="posttitle" style="margin-left: 3%;">
                          <img src="../../static/img/post.png" alt="" height="50px;">
                          <span><b>Post</b></span>
              </div>
           
             
<center>
<div class="form-group">
  <textarea class="form-control" name="message" rows="3" cols="" style="width:60%;" data-rule="required" data-msg="Please write something for us" placeholder="Share an Update Mention your friend with @ Symbol"></textarea>
  <div class="validation"></div>
  
</div>

<div class=""><button type="submit"  class="btn btn-primary" title="Send Message">Send Post</button></div>
<br>
</center>

            </div>
  </div>
<br><br>
Post of the User End Here

</div> -->



<!-- All the Post are Pasted Here you should paste all the Post Code   -->

<div class="postcard">
  <div class="container">
    <div class="row">

      {% for item in lp %} 
        
      <div class="col">
        <br><br>
        <div class="card" style="width: 20rem;">
          <div class="card-header" style="background:white;">
            <img src="../../static/img/team-1.jpg" height="30px;" style="border-radius:20px;" alt="">&nbsp;&nbsp;&nbsp; {{item["username"]}}
          </div>
          <!-- <img src="../../static/img/team-1.jpg" class="card-img-top" alt="..."> -->
          <div class="card-body">
            <p class="card-text">{{item["post"]}}</p>
          </div><br>
         
        </div>
      </div>
      
      {%endfor%}


    </div>

  

  </div>
</div>

<!-- Secound Round of the Cards End here -->

  </div>
</div>


<!-- All the Model Are Situeted here -->

<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Apply for the Job</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<center>       <img src="../../static/img/infosys.jpg" alt="" height="100px;">
<h3>Infosys India pvt.ltd</h3>
<br>
</center>
<i class="fa fa-tasks" > </i> 0-2  yrs &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<i class="fa fa-map-marker" > </i> Pune &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<i class="fa fa-home" > </i> HR Executive, Staffing.. <br><br>
<i class="fa fa-money" > </i> 2500-30 Ruppes 
<br><br>
<h6>Job description :- </h6>
<ul>
  <li>Design and update job descriptions</li>
 <li>Source potential candidates from various online channels (e.g. social media and professional platforms like Naukri.com, Indeed, LinkedIn, etc)</li>
 <li>Craft recruiting emails to attract passive candidates</li>
</ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Apply</button>
      </div>
    </div>
  </div>
</div>

<!-- All the Model Are End Here -->

<br><br>
<!-- Pagination Code Start Here -->
<center><div class="container">
  
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
  </div></center>
<!-- Pagination Code End Here -->

<br><br><br>
<!-- All the Post are End Here -->


<!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>Class reunion</h3>
            <p>Someday many years from now
                We'll sit beside the candles glow
                Exchanging tales about our past
                And laughing as the memories flow
                And when that distant day arrives
                I know it will be understood
                That friendship is the key to live
                And we were friends and it was good.
              <br>
              -- Eileen Hehl
              </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
            Students of  MIT Academy of Engineering
              <br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> student@mitaoe.ac.in<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Subscribe our Newsletter to and get our valueable feedback just by sending our email to us.</p>
            <form action="" method="post">
              <input type="email" placeholder="Enter Email" name="email"><input type="submit"  value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Class reunion</strong>. All Rights Reserved
      </div>
      <div class="credits">
       
        Designed by <a href="#">Team Staunch</a>
      </div>
    </div>
  </footer><!-- #footer -->



<!-- Section only for the Dilog box or Notification -->
<!-- Button trigger modal -->
<!-- Modal -->
  <div class="modal fade" id="notification" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          


          <div class="container">
            <div class="row" style="margin-left: 20%;">
                  <div class="span">
                  <table class="table-condensed table-bordered table-striped">
                          <thead>
                              <tr>
                                <th colspan="7">
                                  <span class="btn-group">
                                      <a class="btn"><i class="fa fa-arrow-left"></i></a>
                                    <a class="btn active">February 2012</a>
                                    <a class="btn"><i class="fa fa-arrow-right"></i></a>
                                  </span>
                                </th>
                              </tr>
                              <tr>
                                  <th>Su</th>
                                  <th>Mo</th>
                                  <th>Tu</th>
                                  <th>We</th>
                                  <th>Th</th>
                                  <th>Fr</th>
                                  <th>Sa</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td class="muted">29</td>
                                  <td class="muted">30</td>
                                  <td class="muted">31</td>
                                  <td>1</td>
                                  <td>2</td>
                                  <td>3</td>
                                  <td>4</td>
                              </tr>
                              <tr>
                                  <td>5</td>
                                  <td>6</td>
                                  <td>7</td>
                                  <td>8</td>
                                  <td>9</td>
                                  <td>10</td>
                                  <td>11</td>
                              </tr>
                              <tr>
                                  <td>12</td>
                                  <td>13</td>
                                  <td class="btn-primary" title="Nakshtra Gathering"><strong>14</strong></td>
                                  <td>15</td>
                                  <td>16</td>
                                  <td>17</td>
                                  <td>18</td>
                              </tr>
                              <tr>
                                  <td>19</td>
                                  <td class="btn-primary" title="TEDxMITAOE"><strong>20</strong></td>
                                  <td>21</td>
                                  <td>22</td>
                                  <td>23</td>
                                  <td>24</td>
                                  <td>25</td>
                              </tr>
                              <tr>
                                  <td>26</td>
                                  <td>27</td>
                                  <td>28</td>
                                  <td>29</td>
                                  <td class="muted">1</td>
                                  <td class="muted">2</td>
                                  <td class="muted">3</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
            </div>
          </div>
          <br>
          <hr>
          <div class="p" >
            
          
            {% for item in np %} 
          
            <div class="container" > 
              <i class="fa fa-calendar" aria-hidden="true"></i>
              &nbsp;  {{item["Message"]}}
            </div>
            <hr>
          
          {%endfor%}
          

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>
<!-- Section end here -->





  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="../../static/lib/jquery/jquery.min.js"></script>
  <script src="../../static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/lib/easing/easing.min.js"></script>
  <script src="../../static/lib/mobile-nav/mobile-nav.js"></script>
  <script src="../../static/lib/wow/wow.min.js"></script>
  <script src="../../static/lib/waypoints/waypoints.min.js"></script>
  <script src="../../static/lib/counterup/counterup.min.js"></script>
  <script src="../../static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../../static/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="../../static/lib/lightbox/js/lightbox.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="../../static/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../../static/js/main.js"></script>

</body>
</html>
