<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Class reunion</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../../static/img/Capture.PNG" rel="icon">
  <link href="../../static/img/Capture.PNG" rel="apple-touch-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../../static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="../../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../../static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../../static/css/style.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../../static/css/util.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/main.css">

</head>

<style>
  #noneimg{
    height: 400px;
  }
@media screen and (max-width:414px){
  #profileimage{
       margin-left: 50px;
  }
  #name{
    margin-left: 50px;
  }
  #college_name{
    margin-left: 50px;
    margin-top: 17px;
  }
  #noneimg{
      height: 200px;
  }
}
</style>


<body>

  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
        <a href="#intro" class="scrollto"><img src="../../static/img/Capture.PNG" alt="" class="img-fluid"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li ><a href="/home">Home</a></li>
          <li class="active"><a href="/profile">Profile</a></li> 
          <li ><a href="/usersearch">Search</a></li>
          <li ><a href="/userjob">Job</a></li>
          <li><a href="/donation">Donation</a></li>
          <li><a href="#" data-toggle="modal" data-target="#notification">Noticeboard</a></li>
          <li><a href="/logout">Logout</a></li>


        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->

<br><br><br><br><br><br>

<div class="container" >
    <div class="postdiv" style="box-shadow:0px 1px 1px 1px grey;border-radius: 20px;;width: 80%;margin-left: 10%;">
  
        <div class="row">
            
            <div class="col" >
                    <br><br>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../static/img/team-1.jpg" height="160px;" id="profileimage" style="border-radius:50%" alt="">
           <br><br>
            </div>
            <div class="col" style="margin-top:60px;">
               <div class="row">
                   <div class="col">
                        <h6 style="font-size:27px;" id="name">Pratik Patil</h6>
                        <br>
                        
                   </div>
                   <div class="col">
                        <a href="#"  class="twitter" style="color:black;font-size:20px;"><i  class="fa fa-pencil-square-o"></i></a>
                   </div>
               </div>
               <h6 style="margin-left: 70px;"><b>Alumni</b></h6>
              
            </div>
        </div>

              </div>
    </div>
<!-- All the Post are End Here -->
 <br><br>
<!-- Educational Detail -->
<div class="container" >
        <div class="postdiv" style="box-shadow:0px 1px 1px 1px grey;border-radius: 20px;;width: 80%;margin-left: 10%;">
            <br>    
            <center><h6><b>Educational & Professional History</b></h6></center>
           <br>
            <div class="row">
                <div class="col">
                       <h6 style="margin-left: 30px"> Import Your Profile Information & Always keep it updated</h6>
                </div>
                <div class="col" style="float:right">
                        <a href="#" class="btn-face m-b-20">
                                <i class="fa fa-facebook-official"></i>
                                Facebook
                            </a>
        
                            <a href="#" style="background:#0e76a8" class="btn-face m-b-20">
                                    <i class="fa fa-linkedin"></i>
                                    Linkedin
                                </a>
                        </div>
                
            </div>
    
    
                  </div>
        </div>
<!-- Educatinal Data end here -->
<!-- Past Colleges in this Div -->
<br><br>
<!-- Educational Detail -->
<div class="container" >
        <div class="postdiv" style="box-shadow:0px 1px 1px 1px grey;border-radius: 20px;;width: 80%;margin-left: 10%;">
            <br>    
            <center><h6><b>Education </b></h6></center>
          <br><br>
                <div class="row">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../static/img/mitlogo.png" height="60px;" alt="">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h6 id="college_name"><b>MIT Academy of Enginnering</b>
                    <p><br> BE in IT</p>
                    <p>2015-16</p>
                </div>

                <br>
                <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="../../static/img/gplogo.png" height="170px;" alt="">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <h6 id="college_name"><b>Government Polytechnic jalgaon</b>
                        <p><br> Diploma in IT</p>
                        <p>2015-16</p>
                    </div>
    <br>
                  </div>
        </div>
<!-- Educatinal Data end here -->
<!-- Past Colleges Close Here -->

<br><br>

<!-- Mitaoe Movement Are here -->
<div class="container" >
        <div class="postdiv" style="box-shadow:0px 1px 1px 1px grey;border-radius: 20px;;width: 80%;margin-left: 10%;">
            <br>    
            <center><h6><b>MITAOE Photo Gallery</b></h6>
            </center>
          
              <center>  <img id="noneimg" src="../../static/img/noresult.png"  alt=""></center>
    <br>
    

<center><a href="#" class="btn-face m-b-20" style="width:100px;font-size:16px;">
        Import
    </a>

    <br><br> 
</center>
</div>
 
</div>
<!-- Mitaoe Movement End Here -->
<br><br>
<!-- Container for the Document Section -->
<!-- Mitaoe Movement Are here -->
<div class="container" >
  <div class="postdiv" style="box-shadow:0px 1px 1px 1px grey;border-radius: 20px;;width: 80%;margin-left: 10%;">
      <br>    
      <center><h6><b>My Documents</b></h6>
      </center>
<br>
<center><div class="documents">
  <img src="../../static/img/document3.jpg" height="300px;" alt="">&nbsp;&nbsp;&nbsp;&nbsp;
<img src="../../static/img/document3.jpg" height="300px;" alt="">&nbsp;&nbsp;&nbsp;&nbsp;
<img src="../../static/img/document3.jpg" height="300px;" alt="">
</div></center>
<br><br>
    
<br>


<center><a href="#" class="btn-face m-b-20" style="width:100px;font-size:16px;">
  Import
</a>
<br>
</div>
<br><br> 
</center>
</div>

</div>
<!-- Mitaoe Movement End Here -->
<!-- Container for the Documentation end here -->

<!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio" class="clearfix">
            <div class="container">
      
              <header class="section-header">
                <h3 class="section-title">Post</h3>
              </header>
      
              <div class="row">
                <div class="col-lg-12">
                  <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-app">Personal</li>
                    <li data-filter=".filter-card">Job</li>
                  </ul>
                </div>
              </div>
      
              <div class="row portfolio-container">
      
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                  <div class="portfolio-wrap">
                    <img src="../../static/img/team-1.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                      <h4><a href="#">Pavan Patil</a></h4>
              <i style="font-size:24px;color:white" class="fa fa-heart"></i><B style="color:white">24</B>
            </div>
                  </div>
                </div>
      
                <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.1s">
                  <div class="portfolio-wrap">
                        <img src="../../static/img/infosys.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                                <h4><a href="#">Pavan Patil</a></h4>
                        <i style="font-size:24px;color:white" class="fa fa-heart"></i><B style="color:white">2</B>
                      </div>
                  </div>
                </div>
      
               
              </div>
      
            </div>
          </section><!-- #portfolio -->

<!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>Class reunion</h3>
            <p>Someday many years from now
                We'll sit beside the candles glow
                Exchanging tales about our past
                And laughing as the memories flow
                And when that distant day arrives
                I know it will be understood
                That friendship is the key to live
                And we were friends and it was good.
              <br>
              -- Eileen Hehl
              </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p style="color:white">
            Students of  MIT Academy of Engineering
              <br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> student@mitaoe.ac.in<br>
            </p>

            <div class="social-links">
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p style="color:white">Subscribe our Newsletter to and get our valueable feedback just by sending our email to us.</p>
            <form action="" method="post">
              <input type="email" placeholder="Enter Email" name="email"><input type="submit"  value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Class reunion</strong>. All Rights Reserved
      </div>
      <div class="credits">
       
        Designed by <a href="#">Team Staunch</a>
      </div>
    </div>
  </footer><!-- #footer -->




<!-- Section only for the Dilog box or Notification -->
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="notification" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <br>
          <hr>
          <div class="p" >
            

            {% for item in np %} 

            <div class="container" > 
              <i class="fa fa-calendar" aria-hidden="true"></i>
              &nbsp;  {{item["Message"]}}
            </div>
            <hr>
          
          {%endfor%}
          
          

          </div>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>
<!-- Section end here -->





  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="../../static/lib/jquery/jquery.min.js"></script>
  <script src="../../static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/lib/easing/easing.min.js"></script>
  <script src="../../static/lib/mobile-nav/mobile-nav.js"></script>
  <script src="../../static/lib/wow/wow.min.js"></script>
  <script src="../../static/lib/waypoints/waypoints.min.js"></script>
  <script src="../../static/lib/counterup/counterup.min.js"></script>
  <script src="../../static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../../static/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="../../static/lib/lightbox/js/lightbox.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="../../static/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../../static/js/main.js"></script>
</body>
</html>
