<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Class reunion</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../../static/img/Capture.PNG" rel="icon">
  <link href="../../static/img/Capture.PNG" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Libraries CSS Files -->
  <link href="../../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../../static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="../../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../../static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
  <link href="../../static/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
  <link href="../../static/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
  <!-- Main Stylesheet File -->
  <link href="../../static/css/style.css" rel="stylesheet">
   <!-- Main CSS-->
   <link href="../../static/css/main.css" rel="stylesheet" media="all">
</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
        <a href="#intro" class="scrollto"><img src="../../static/img/Capture.PNG" alt="" class="img-fluid"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li><a href="/collegedashbord">Home</a></li>
          <li><a href="/adminpanel">AdminPanel</a></li> 
          <li class="active"><a href="/search">Search</a></li>
          <li ><a href="/job">Job</a></li>
          <li><a href="/chat">Chat</a></li>
          <li><a href="#" data-toggle="modal" data-target="#notification">Noticeboard</a></li>
          <li><a href="../login.html">Logout</a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->

<br><br><br><br><br><br>
<div class="container">
  <div class="title" style="position: absolute;">
    <div class="form-group" style="margin-left: 30px;;margin-top: 30px;;">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search by Location">
    </div>
  </div>
<img src="../../static/img/map.JPG" alt="">
</div>
<br><br>
<div class="page-wrapper  font-poppins">
  <div class="wrappe" style="width: 74%;;margin-left: 240px;">
      <div class="card card-4">
          <div class="card-body">
              <h2 class="title">People near Alandi</h2>
            <b style="font-size: 20px;;">3</b>
          </div>
         <div class="container" style="margin-left: 60px;; display: inline;">
          <img src="../../static/img/team-1.jpg" height="60px;" style="border-radius: 50%;;" alt=""> &nbsp;&nbsp; <b style="margin-top: 20px;position: absolute;;cursor: pointer;">Utkarsh</b> 
          <br><br>
         </div>
         <br><br>
         <div class="container" style="margin-left: 60px;; display: inline;">
          <img src="../../static/img/team-3.jpg" height="60px;" style="border-radius: 50%;;" alt=""> &nbsp;&nbsp; <b style="margin-top: 20px;position: absolute;;cursor: pointer;">Shyam</b> 
          <br><br>
         
         </div>
         <br><br>
         <div class="container" style="margin-left: 60px;; display: inline;">
          <img src="../../static/img/team-4.jpg" height="60px;" style="border-radius: 50%;;" alt=""> &nbsp;&nbsp; <b style="margin-top: 20px;position: absolute;;cursor: pointer;">Riya</b> 
          <br><br>
         </div>
  </div>
</div>
</div>
<!-- Section only for the Dilog box or Notification -->
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="notification" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="../../static/img/noresult.png" height="300px" width="450px;" alt="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>
<!-- Section end here -->

<!-- Post of the User is Here -->
<br><br>
<!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>Class reunion</h3>
            <p>Someday many years from now
                We'll sit beside the candles glow
                Exchanging tales about our past
                And laughing as the memories flow
                And when that distant day arrives
                I know it will be understood
                That friendship is the key to live
                And we were friends and it was good.
              <br>
              -- Eileen Hehl
              </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p style="color:white">
            Students of  MIT Academy of Engineering
              <br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> student@mitaoe.ac.in<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p style="color:white">Subscribe our Newsletter to and get our valueable feedback just by sending our email to us.</p>
            <form action="" method="post">
              <input type="email" placeholder="Enter Email" name="email"><input type="submit"  value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Class reunion</strong>. All Rights Reserved
      </div>
      <div class="credits">
       
        Designed by <a href="#">Team Staunch</a>
      </div>
    </div>
  </footer><!-- #footer -->



<!-- Section only for the Dilog box or Notification -->
<!-- Button trigger modal -->
<!-- Modal -->
  <div class="modal fade" id="notification" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="../../static/img/noresult.png" height="300px" width="450px;" alt="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>
<!-- Section end here -->





  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="../../static/lib/jquery/jquery.min.js"></script>
  <script src="../../static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/lib/easing/easing.min.js"></script>
  <script src="../../static/lib/mobile-nav/mobile-nav.js"></script>
  <script src="../../static/lib/wow/wow.min.js"></script>
  <script src="../../static/lib/waypoints/waypoints.min.js"></script>
  <script src="../../static/lib/counterup/counterup.min.js"></script>
  <script src="../../static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../../static/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="../../static/lib/lightbox/js/lightbox.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../../static/js/main.js"></script>

</body>
</html>
